@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 50px;
}

#posts {
    width: 400px;
}

i {
    cursor: pointer;
}

#posts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    display: flex;
    gap: 25px;
}

#msg{
    color: red;
}